body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mainImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}
.button-container {
    bottom: 100px;
    position: fixed;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s ease;
}
#yesButton {
    background-color: #4CAF50;
    color: white;
}
#noButton {
    background-color: #f44336;
    color: white;
    position: relative;
}
#noButton.moving {
    transition: transform 0.1s ease;
}
@media screen and (max-width:800px) {
    .button-container {
        flex-direction: column;
        max-width: 200px;
        max-height: 400px;
    }
}